* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 15px 30px;
  height: 70px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.navbar .company {
  font-size: 28px;
  font-weight: bold;
}

.toggle-container {
  display: flex;
  gap: 10px;
  padding: 5px;
  border-radius: 30px;
  border: 1px solid #eee;
}

.toggle-container button {
  background: none;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.toggle-container button:focus, .toggle-container button:active{
  outline: none;
  border: none;
  box-shadow: none;
}
.toggle-container button:hover {
  background-color: #eee;
}

.navbar .cart button {
  border-radius: 20px;
  background: #eee;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
}

/* PRODUCTS COMMON  */
.products {
  padding: 50px 30px;
  background: #f5f5f5;
  width: 100%;
}
/* PRODUCT CARD */
.product-card {
  background: white;
  border-radius: 10px 50px;     
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  transition: 0.3s ease;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-5px);
}
/* Image common */
.img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: 0.3s ease;
}

.img:hover {
  transform: scale(1.1);
}
/* Product info */
.product-info h4 , .product-info p {
  font-size: 16px;
  font-weight: bold;
 
}
.product-info span {
  font-size: 15px;
  color: gray;
}

/*grid view */
.products.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
/*List view*/
.products.list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width:200vh;
}

.products.list .product-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  width: 200vh;
  max-width: 100%;
  padding: 25px;
  text-align: left;
}

/* Image size in list */
.products.list .img {
  width: 150px;
  height: 150px;
  margin-bottom: 0;
}

/*UNCOMMON VIEW */
.products.uncommon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4,1fr);
  grid-auto-rows: 350px;
  gap: 30px;
  width: 200vh;
}

.products.uncommon .product-card:nth-child(1) {
  grid-column: span 2;
  grid-row: span 1;
}
.products.uncommon .product-card:nth-child(2){
  align-items: center;
  justify-content: center;
  grid-column: span 2;
  grid-row: span 2;
}
.products.uncommon .product-card:nth-child(3) {
  grid-column: span 2/3;
  grid-row: span 1;
}
.products.uncommon .product-card:nth-child(4) {
  grid-column: span 4;
  grid-row: span 1;
}
.products.uncommon .product-card:nth-child(5) {
  grid-column: span 2;
  grid-row: span 2;
  align-items: center;
  justify-content: center;
}
.products.uncommon .product-card:nth-child(6) {
  grid-column: span 2;
  grid-row: span 1;
}
.products.uncommon .product-card:nth-child(7) {
  grid-column: span 2;
  grid-row: span 1;
}
.products.uncommon .product-card:nth-child(8) {
  grid-column: span 3;
  grid-row: span 1;
}
.products.uncommon .product-card:nth-child(9) {
  align-items: center;
  justify-content: center;
  grid-column: span 1;
  grid-row: span 2;
}
.products.uncommon .product-card:nth-child(10) {
  grid-column: span 3;
  grid-row: span 1;
}
.products.uncommon .product-card:nth-child(11) {
  grid-column: span 4;
  grid-row: span 1;
}
.products.uncommon .product-card:nth-child(12) {
  grid-column: span 1;
  grid-row: span 2;
  align-items: center;
  justify-content: center;
}
.products.uncommon .product-card:nth-child(13) {
  grid-column: span 3;
  grid-row: span 1;
}
.products.uncommon .product-card:nth-child(14) {
  grid-column: span 2;
  grid-row: span 1;
}
.products.uncommon .product-card:nth-child(16) {
  grid-column: span 2;
  grid-row: span 1;
}
.products.uncommon .product-card:nth-child(17) {
  grid-column: span 2;
  grid-row: span 1;
}
.products.uncommon .product-card:nth-child(18) {
  grid-column: span 2;
  grid-row: span 2;
  align-items: center;
  justify-content: center;
}
.products.uncommon .product-card:nth-child(19) {
  grid-column: span 1;
  grid-row: span 2;
  align-items: center;
  justify-content: center;
}
.products.uncommon .product-card:nth-child(20) {
  grid-column: span 1;
  grid-row: span 2;
  align-items: center;
  justify-content: center;
}

/* pagination button style */
.btn-container{
  display: flex;
  padding: 20px 10px;
  justify-content: center;
  align-items: center;
}
.btn-border{
  display: flex;
  gap: 10px;
  border: 1px solid #eee;
  border-radius: 20px;
  padding: 5px;
}
.btn-style{
  background: none;
  border-radius: 20px;
  transition: 0.3s;
  border: none;
}
.btn-style:hover{
  background: #eee;
}
.btn-style:focus, .btn-style :active, .btn-style:focus-visible{
  outline: none;
  box-shadow: none;
}