* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar{
  display: flex;
  position:sticky;
  top: 0;
  z-index: 1000;
  justify-content: space-between;
  background:white;
  padding: 10px;
}
.navbar .company{
  font-size: 30px;
  font-weight: bold;
}
.toggle-container{
  display: flex;
  gap: 20px;
  background: none;
  padding: 5px 5px;
  border-radius: 30px;
  border: 1px solid #eee;
  
}
.toggle-container button{
  background: none;
  border-radius: 20px;
  justify-content: space-around;
  border: none;
}
.toggle-container button:hover{
  background-color: #eee;
  border: none;
}
.toggle-container button:active {
  box-shadow: none;
  outline: none;
}
.toggle-container button:focus{
  box-shadow: none;
  outline: none;
}
.navbar .cart{
  background: none;
  display: flex;
  padding: 5px 5px;
}
.navbar .cart button{
  border-radius: 20px;
  background: #eee;
  border: none;
}
.navbar .cart button:active{
  box-shadow: none;
  outline: none;
}
.navbar .cart button:focus{
  box-shadow: none;
  outline: none;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
  padding: 30px;
  background: #eee;
  width: 100%;
  height: 100%;
}

.product-card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  transition: 0.3s ease;
  cursor: pointer;
}


.img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 15px;
}
.product-card:hover{
  transform: translateY(-5px);
}
.product-card img:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.product-info {
  text-align: center;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: sticky;
  bottom: 0;
  z-index: 1000; */
  gap: 20px;
  background: none;
  padding: 10px 10px;
  border: 1px solid #eee;
  background: #fff;
}
.btn-border{
  display: flex;
  padding: 10px;
  border:1px solid #eee;
  border-radius: 30px;
}
.btn-style {
  padding: 8px 15px;
  border-radius: 20px;
  border: 1px solid #eee;
  background: white;
  border: none;
  cursor: pointer;
}

.btn-style:hover {
  background: #eee;
}
.btn-style:active,.btn-style:focus{
  outline: none;
  box-shadow: none;
}

